body{
    background-image:url("./pp.jpg");
    color: rgb(0, 0, 0);
    font-family: Arial, sans-serif;
    background-size: cover; /* or 'contain', or specific dimensions */

    /* Optionally, set background repeat */
    background-repeat: no-repeat;

    /* Optionally, position the background */
    background-position: center center;

    /* Set height and width for the element */
    width: auto;
    height: 700px; 
}
h1{
    color: rgb(254, 254, 255);
    font-size: 100px;
    text-align: center;

}
p{
    text-align: center;
    font-size: 30px;
}
button{
    background-color: rgb(174, 201, 53);
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
    align-items: center;
    text-align: center;
}